[package]
name = "fac"
version = "0.1.0"
authors = ["Arnavion <arnavion@gmail.com>"]
description = "Mod manager for Factorio"
edition = "2018"

[dependencies]
appdirs = "0.2.x"
factorio-mods-common = { version = "0.1.0", features = ["package"], path = "./factorio-mods-common" }
factorio-mods-local = { version = "0.1.0", path = "./factorio-mods-local" }
factorio-mods-web = { version = "0.1.0", path = "./factorio-mods-web" }
failure = { version = "0.1.x", features = ["backtrace"] }
failure_derive = "0.1.x"
futures-core-preview = "0.3.0-alpha.16"
futures-util-preview = { version = "0.3.0-alpha.16", features = ["compat"] }
itertools = "0.8.x"
lazy_static = "1.3.x"
multimap = "0.5.x"
package = { version = "0.1.0", path = "./package" }
petgraph = "0.4.x"
regex = "1.1.x"
rpassword = "3.x"
rprompt = "1.0.x"
semver = "0.9.x"
serde = "1.0.x"
serde_derive = "1.0.x"
serde_json = "1.0.x"
structopt = "0.2.x"
structopt-derive = "0.2.x"
term_size = "0.3.x"
textwrap = "0.11.x"
tokio = "0.1.x"

[workspace]
