[package]
name = "fac"
version = "0.1.0"
authors = ["Arnavion <arnavion@gmail.com>"]
description = "Mod manager for Factorio"
edition = "2018"

[dependencies]
bytes = "0.5"
crc32fast = "1"
dirs = "2"
factorio-mods-common = { path = "./factorio-mods-common" }
factorio-mods-local = { path = "./factorio-mods-local" }
factorio-mods-web = { path = "./factorio-mods-web" }
failure = { version = "0.1", features = ["backtrace"] }
failure_derive = "0.1"
futures-core = "0.3"
futures-util = { version = "0.3", features = ["io"] }
itertools = "0.9"
lazy_static = "1"
libflate = "0.1"
package = { path = "./package" }
petgraph = "0.5"
regex = "1.2"
reqwest = "0.10"
rpassword = "4"
rprompt = "1"
semver = "0.9"
serde = "1"
serde_derive = "1"
serde_json = "1"
structopt = "0.3"
term_size = "0.3"
textwrap = "0.11"
tokio = { version = "0.2", features = ["macros"] }
uluru = "0.4"
zip = "0.5"

[workspace]
